<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!--<target name="elastic" xsi:type="ElasticSearch" layout="${message}" includeAllProperties="true"  uri="http://aphrodite:9200" >
        <field name="user" layout="${windows-identity:userName=True:domain=False}"/>
        <field name="host" layout="${machinename}"/>
      </target>-->

    <target xsi:type="File" name="ownFile-web" fileName="${basedir}/logs/own-${shortdate}.log"
           layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--<logger name="PTZ.*" minlevel="Trace" writeTo="elastic" />-->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>