@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Title"];
    Layout = "_Login";
}

<div class="row ">
    <div class="col-md-5 col-centered">
        <div class="card card-login">
            <div class="card-header ">
                <h3 class="header text-center">@ViewBag.Title</h3>
            </div>
            <div class="card-body ">
                <div class="card-body">
                    @localizer["CheckEmailToReset"]
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<style>
    .col-centered {
        float: none;
        margin: 0 auto;
    }
</style>
