@model DashboardViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Profile"];
    //ViewData.AddActivePage(ManageNavPages.Index);
}

<div class="row">
    @Html.DisplayFor(x => x.DoughnutChart, new { Type = "pie" })
    @Html.DisplayFor(x => x.BarChart, new { Type = "bar" })
</div>
