@model DashboardViewModel
@inject IViewLocalizer localizer
@{
    ViewBag.Title = ModulesNames.MyFinance;
    //ViewData.AddActivePage(ManageNavPages.Index);
}

<div class="row">
    @Html.DisplayFor(x => x.Balance, new { Type = "pie", Size = "3" })
    @Html.DisplayFor(x => x.Categories, new { Type = "bar", YStacked = false, Size = "4", Title = "Movimentos por Categorias", Subtitle =" ",Legend = false })
    @Html.DisplayFor(x => x.MonthlyProgression, new { Type = "line", YStacked = false, Size = "5" })
</div>
