<div class="row">
    <div class="col-md-12">
        <div class=" ">
            <div class="card-body ">
                <div class="text-center status-warning">
                    <h1 class="display-1 text-warning mt-0"><strong>@ViewBag.StatusCode</strong></h1>
                    <h3 class="text-warning">@ViewBag.Message</h3>
                    <p class="text-muted">@ViewBag.MessageDetail</p>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-info btn-fill btn-wd">Go back</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>