button.nav-link {
    cursor: pointer;
}

.version {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 999;
}
.navbar .navbar-nav .nav-item .nav-link [class^="fa"] {
    font-size: 12pt;
}

